.headline {
  font-size: 24px;
  text-align: center;
  font-family: var(--font-serif);
  font-weight: 500;
  line-height: 150%;
}

.copy {
  text-decoration: underline #9966ff;
  text-decoration-thickness: 5px;
  vertical-align: bottom;
}

.surroundingText {
  display: inline-block;
  vertical-align: bottom;
}

@media screen and (min-width: 800px) {
  .headline {
    font-size: 48px;
    line-height: 125%;
  }

  .copy {
    text-decoration-thickness: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .headline {
    font-size: 72px;
    line-height: 100%;
  }

  .copy {
    text-decoration-thickness: 10px;
    padding-bottom: 10px;
  }

  .surroundingText {
    padding-bottom: 10px;
  }
}

.cyclePhrase {
  display: inline-block;
  white-space: nowrap;
  transition: width 400ms ease-in-out;
  overflow: clip;
  position: relative;
  vertical-align: bottom;
}

.measurePhrase {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
}
